body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
	pointer-events: auto;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	color: #ffff00;
	width: 20%;
	font-size: 8pt;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}


#image {
	position: absolute;
	top: 0px;
	left: 20%;
	color: #ffff00;
	width: 30%;
	height: 30%;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}
#canvas {
	position: absolute;
	top: 70%;
	left: 0%;
	color: #ffff00;
	width: 20%;
	height: auto;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}
#camera {
	width:100%;
	height:100%;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}
