body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
	pointer-events: auto;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	color: #ffff00;
	background-color: #2228;
	width: inherit;
	font-size: inherit;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;	
	z-index: 3; /* TODO Solve this in HTML */
}

#object-category-selector, #object-track_id_editor
{
	background-color: inherit;
	color: inherit;
	border-width: 0;
}

#maincanvas {
	position: absolute;
	top: 0%;
	left: 20%;
	width: inherit;
	height: 30%;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#maincanvas-c {
	position: relative;
	top: 0%;
	left: 0%;
	width: inherit;
	height: 100%;

	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}


#boxedit {
	font-size: inherit;
	position: absolute;
    top: 0%;
    left: 60%;
    z-index: 1;
    background-color: #333a;
}

#canvas {
	position: absolute;
	top: 70%;
	left: 0%;
	color: #ffff00;
	width: 20%;
	height: auto;
	padding: 0px;
	box-sizing: border-box;
	text-align: left;
	align-content: left;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}
#camera {
	width:100%;
	height:100%;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}


.float-label {
	color: #0000ff;
	position: absolute;
	/* background-color: #403b3b99; */
}

.Rider {
	color: #ff8800;	
}

.Car {
	color: #00ff00;
}

.Bus, .Truck {
	color: #ffff00;
}

.Pedestrian {
	color: #ff0000;
}



.selected-float-label {
	color: #ff00ff;
	position: absolute;
	/* background-color: #403b3b99; */
}

